.col-sm-4.mission-item
  %a.mission-link{"data-toggle" => "modal", href: "#missionModal1"}
    .caption
      .caption-content
        = image_tag '/assets/images/jeffrey_ling.png', :class => "img-responsive"
.col-sm-4.mission-item
  %a.mission-link{"data-toggle" => "modal", href: "#missionModal2"}
    .caption
      .caption-content
        = image_tag '/assets/images/jeffrey_ling.png', :class => "img-responsive"
.col-sm-4.mission-item
  %a.mission-link{"data-toggle" => "modal", href: "#missionModal3"}
    .caption
      .caption-content
        = image_tag '/assets/images/jeffrey_ling.png', :class => "img-responsive"
.col-sm-4.mission-item
  %a.mission-link{"data-toggle" => "modal", href: "#missionModal4"}
    .caption
      .caption-content
        = image_tag '/assets/images/jeffrey_ling.png', :class => "img-responsive"
.col-sm-4.mission-item
  %a.mission-link{"data-toggle" => "modal", href: "#missionModal5"}
    .caption
      .caption-content
        = image_tag '/assets/images/jeffrey_ling.png', :class => "img-responsive"
.col-sm-4.mission-item
  %a.mission-link{"data-toggle" => "modal", href: "#missionModal6"}
    .caption
      .caption-content
        = image_tag '/assets/images/jeffrey_ling.png', :class => "img-responsive"