%title Growbus
%header
  .container
    .row
      .col-sm-12
        = image_tag('/assets/images/growbus.png')
        .intro-text
          %span.name bee-beep!
          %hr.star-light
          %span.skills Growbus will bring you to your hacking haven

%section#mission
  .container
    .row
      .col-sm-12.text-center
        %h2 mission
        %hr.star-primary
    .row
      = render 'mission_text'
%section#team.success
  .container
    .row
      .col-sm-12.text-center
        %h2 Will I fit in?
        %hr.star-light/
        %span.team Are you geeky, rowdy and thirsty for Knowledge?
  .container
    .row
      = render 'team_images'
%section#contact
  .container
    .row
      .col-sm-12.text-center
        %h2 Contact Us
        %hr.star-primary/
        %span.contact Enter your deets here to secure your spot on the Growbus
    .row
      .col-sm-8.col-sm-offset-2
    .row
      .col-sm-11.col-sm-offset-1
        = render 'guest_form'
      - if flash[:notice]
        %div= flash[:notice]
      - if flash[:error]
        %div= flash[:error]





