<!DOCTYPE html>
<html>
<head>
  <title>Growbus</title>
  <!-- Fonts -->
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400italic,700italic,400,700" rel="stylesheet" type="text/css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  <!-- Bootstrap Core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <!-- Start Bootstrap Custom CSS -->
  <link href="/assets/css/startbootstrap.css" rel="stylesheet" type="text/css">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><%= image_tag "/assets/images/lighthouse.png" %></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#mission">The Mission</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#team">The Team</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<%= yield %>
<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-sm-4">
                    <h3>Departing from</h3>
                    <a href="http://www.google.ca/maps/place/Lighthouse+Labs/@49.281844,-123.108162,17z/data=!3m1!4b1!4m2!3m1!1s0x5486717986455555:0xcf2dfb0f48c8a056"><p>128 W. Hastings</p></a>
                </div>
                <div class="footer-col col-sm-4">
                    <h3>Check us out</h3>
                    <ul class="list-inline">
                        <li>
                            <a target="blank" href="http://www.facebook.com/lighthouselabsvancouver" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a target="blank" href="http://plus.google.com/108696918293805303170/about" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a target="blank" href="http://twitter.com/lighthouse_labs" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a target="blank" href="http://www.linkedin.com/company/lighthouse-labs" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a target="blank" href="http://www.lighthouselabs.ca/blog" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-sm-4">
                    <h3>So many reasons to ride with us</h3>
                    <p>We are hot and fun and rowdy and we like to eat and drink and code <a href="http://www.lighthouselabs.ca">Learn more</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    Copyright &copy; Lighthouse Labs 2014
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="/assets/js/docs.js"></script>
<script src="/assets/js/startbootstrap.js"></script>
</body>
</html>
